<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @entry.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @entry.subtitle %>
</p>

<p>
  <strong>Body:</strong>
  <%= @entry.body %>
</p>

<p>
  <strong>Link:</strong>
  <%= @entry.link %>
</p>

<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.body %></td>
      <td><%= comment.user_id %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
